* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #05171E;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #082029;
    min-height: 128px;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #082029;
    min-height: 128px;
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
}

.flex_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.text_centered {
    text-align: center;
}

.header_logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 200px;
    border: solid 1px blanchedalmond;
    height: 32px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.bg_blue {
    background: #082029;
}

/* --- Dialog Styling --- */

#pokemon_card {
    background-color: #082029;
}

.header {
    display: flex;
    justify-content: space-between;
}