* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
    color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #05171E;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #082029;
    min-height: 128px;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #082029;
    min-height: 128px;
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.flex_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.FooterLogo {
    height: 32px;
}

.header_logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 200px;
    border: solid 1px blanchedalmond;
    height: 32px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.bg_blue {
    background: #082029;
}

/* --- Dialog Styling --- */

.HideScrollbar {
    overflow: hidden;
}

#dialog_background {
    width: 312px;
}

#pokemon_card {
    background-color: #082029;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pokemon_card::backdrop {
    background-color: rgba(0, 0, 0, 0.191);
}

.DialogHeader {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
}

#dialog_title {
    font-size: 24px;
    font-weight: 700 bold;
}

.DialogExit:hover {
    background-image: url(./assets/icons/exit_hover.png);
    cursor: pointer;
}

#pkm_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dialog_img {
    display: flex;
    justify-content: center;
    width: 200px;
}

.dialog_btn {
    width: 80px;
    height: 32px;
    background-color: #05171E;
    margin-bottom: 12px;
    cursor: pointer;
}

.dialog_btn:hover {
    color: red;
}

.card_menu {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#card_content {
    width: 300px;
    height: 180px;
    line-height: 32px;
    padding: 0 32px;
}

.DialogNav {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: auto;
    padding: 16px 8px;
}

.DialogNav img {
    width: 48px;
    height: 48px;
}

.DialogNav img:hover {
    filter:  brightness(1.6);
    cursor: pointer;
}

.type_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.type_icon {
    width: 36px;
    height: 36px;
}

.dialog_stat {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}